 /*-- MeP general --*/

body
{
	background-color: #555555;
}

#body
{
	min-width: 650px;
	box-shadow: 0px 0px 15px #333333;
	background-color: #ffffff;
}

.inside
{
	margin-top: -75px;
	margin-left: -190px;
	text-align: center;
	margin-bottom: 75px;
}

h3, .corp, #body
{
	position: relative;
	margin: auto;
}

.corp
{
	overflow: auto;
	display: block;
	margin-left: 50px;
	margin-top: 30px;
	height: 300px;
	padding: 0;
}

/*-- marge de 50 px sur la gauche de chaque element --*/

p , h3 , h4
{
	padding-left: 50px !important;
}

/*-- les titre et leur image --*/

h2
{
	text-align: center;
	margin-left: -140px;
}

h3
{
	font-family: sans-serif;
	font-weight: normal;
	padding-right: 30px;
	display: inline-block;
	font-size: 35px;
	color: #ffffff;
	background-color: #880066;
}

h4
{
	font-size: 2em;
	padding-right: 30px;
	font-weight: normal;
	padding: 12px;
	margin-bottom: 0;
	font-family: sans-serif;
	color: #ffffff;
	background-color: #000088;
}

h4 img
{
	display: table-cell;
	float: right;
	margin-top: -15px;
}

.flech
{
	margin: -20px;
	margin-left: 30px;
	margin-right: -60px;
	height: 60px;
	padding: 0;
	position: relative;
	top: -2px;
	display: inline-block;
}

/*-- formulaire --*/

#menu
{
	position: relative;
	transition-duration: 5s;
	box-shadow: inset 0px -5px 10px rgba(0,0,100,0.5);
	text-align: right;
	width: 100%;
	height: 0px;
	display: inline-block;
	overflow: hidden;
}

#right p input, #right, #right p select
{
	float: right;
}

#right p
{
	text-align: left;
	min-width: 400px;
	margin: 5px;
}

#right input, #right select
{
	width: 300px;
	font-size: 15px;
	text-align: center;
}

/*-- les barre de cariere et formation --*/

.carrer_barr
{
	margin:10px;
	height: 60px;
}

.carrer_barr span
{
	position: relative;
	min-width: 400px; /*---- a changer en fonction des info ----*/
	top: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
	display: table-cell;
}

.carrer_barr span img
{
	margin: -15px;
}

.start
{
	border-bottom-left-radius: 100px;
	border-top-left-radius: 100px;
}

.end
{
	border-bottom-right-radius: 100px;
	border-top-right-radius: 100px;
}

.vide
{
	background-color: #ffffff !important;
}

.barr_pro span
{
	background-color: #3da7b1;
}

.barr_pay span
{
	background-color: #ffaa11;
}

.barr_for span
{
	background-color: #ff2211;
}

/*-- les cercle de droit --*/

.cercle
{
	position: relative;
	left: 75px;
	float: left;
	height: 150px;
	width: 150px;
}

.cercle div
{
	position: relative;
	height: 12px;
	width: 45px;
	border-radius: 20px;
	z-index: 1;
}

.cercle div img
{
	height: 19px;
	position: relative;
	top: -3px;
	z-index: 5;
	left: -3px;
}

.cercle_off
{
	background-color: rgba(255, 136, 16, 0.5);
}

.cercle_on
{
	background-color:rgba(61, 167, 177, 0.5);
}

/*---- segment des cercle ----*/

.pos1
{
	left: 0px;
	top: 12px;
	-webkit-transform:rotate(18deg);
}

.pos2
{
	left: 26px;
	top: 19px;
	-webkit-transform:rotate(54deg);
}

.pos3
{
	left:35px;
	top: 37px;
	-webkit-transform:rotate(90deg);
}

.pos4
{
	left:25px;
	top: 55px;
	-webkit-transform:rotate(126deg);
}

.pos5
{
	left:0px;
	top: 62px;
	-webkit-transform:rotate(162deg);
}

.pos6
{
	left:-32px;
	top: 50px;
	-webkit-transform:rotate(198deg);
}

.pos7
{
	left:-57px;
	top: 20px;
	-webkit-transform:rotate(234deg);
}

.pos8
{
	left:-67px;
	top: -23px;
	-webkit-transform:rotate(270deg);
}

.pos9
{
	left:-57px;
	top: -66px;
	-webkit-transform:rotate(306deg);
}

.pos0
{
	left:-32px;
	top: -96px;
	-webkit-transform:rotate(342deg);
}
